In [1]:
from fastai.text import * 
from fastai import *
import pandas as pd
import torch

In [18]:
ts = pd.read_csv('data/tweets.csv')

In [22]:
ts['tweets'][0]

': The want to hear about the impact of coronavirus – and the measures to tackle it – on people with protected charac…'

In [19]:
ts

        Id                                             tweets
0        0  : The want to hear about the impact of coronav...
1        1  : :we urge judges &amp; parliament of to vote ...
2        2  : I don’t think people are digesting the fact ...
3        3  Pray for Nigeria, pray for the world and help ...
4        4                                                  …
...    ...                                                ...
2321  2321                                                NaN
2322  2322                                     Today, he was…
2323  2323    I cant wait for my first post lockdown dickdown
2324  2324  : Once again, The Counterfeit News Network liv...
2325  2325           Irony is that it is named as Corona Park

[2326 rows x 2 columns]