## Feature importance and analysis

In [1]:
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

In [2]:
df = pd.read_feather('data/covid19_data')
df['Province_State'] = df['Province_State'].astype(str)
df['Country_Region'] = df['Country_Region'].astype(str)
for c in df:
    if df[c].dtype == 'bool':
        df[c] = df[c].astype('int')

,Province_State,Country_Region,Date,weekday,day,Density,Population,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,...,Health_exp_per_capita_USD_2016_NA,per_capita_exp_PPP_2016_NA,External_health_exp_pct_2016_NA,Physicians_per_1000_2009-18_NA,Nurse_midwife_per_1000_2009-18_NA,Specialist_surgical_per_1000_2008-18_NA,Completeness_of_birth_reg_2009-18_NA,Completeness_of_death_reg_2008-16_NA,ConfirmedCases,Fatalities
0,None,Afghanistan,2020-01-22,2,22,59.6850,38928.346,10.200000,5.10,77.400000,...,0,0,0,0,0,0,0,1,0.0,0.0
14060,None,Oman,2020-01-22,2,22,16.4996,5106.626,4.300000,89.10,5.900000,...,0,0,0,0,0,0,0,0,0.0,0.0
4514,Guizhou,China,2020-01-22,2,22,148.2775,1439323.776,6.823158,56.09,31.065263,...,1,1,1,1,1,1,1,1,1.0,0.0
13986,None,Norway,2020-01-22,2,22,16.7425,5421.241,10.500000,85.10,14.500000,...,0,0,0,0,0,0,0,0,0.0,0.0
4588,Hainan,China,2020-01-22,2,22,148.2775,1439323.776,6.823158,56.09,31.065263,...,1,1,1,1,1,1,1,1,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15021,None,Rwanda,2020-04-04,5,95,491.7692,12952.218,6.800000,33.90,6.400000,...,0,0,0,0,0,0,0,1,102.0,0.0
15095,None,Saint Kitts and Nevis,2020-04-04,5,95,203.8276,53.199,5.700000,43.20,51.500000,...,0,0,0,0,0,0,1,0,9.0,0.0
15169,None,Saint Lucia,2020-04-04,5,95,298.0958,183.627,5.300000,42.00,48.700000,...,0,0,0,0,0,0,0,0,14.0,0.0
15317,None,San Marino,2020-04-04,5,95,556.2459,33.931,6.400000,80.40,18.800000,...,0,0,1,0,0,0,0,1,259.0,32.0
22643,None,Zimbabwe,2020-04-04,5,95,38.0362,14862.924,9.400000,46.50,21.200000,...,0,0,0,0,0,0,0,1,9.0,1.0

In [4]:
encoders = {}
for col in df:
    if df[col].dtype == 'object':
        lm = LabelEncoder()
        lm.fit(df[col])
        encoders[col] = lm
        df[col] = lm.transform(df[col])

In [5]:
df['Country_Region'].describe()

count    22644.000000
mean        95.163399
std         58.640210
min          0.000000
25%         36.000000
50%         91.500000
75%        165.000000
max        179.000000
Name: Country_Region, dtype: float64

In [6]:
df

,Province_State,Country_Region,Date,weekday,day,Density,Population,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,...,Health_exp_per_capita_USD_2016_NA,per_capita_exp_PPP_2016_NA,External_health_exp_pct_2016_NA,Physicians_per_1000_2009-18_NA,Nurse_midwife_per_1000_2009-18_NA,Specialist_surgical_per_1000_2008-18_NA,Completeness_of_birth_reg_2009-18_NA,Completeness_of_death_reg_2008-16_NA,ConfirmedCases,Fatalities
0,81,0,2020-01-22,2,22,59.6850,38928.346,10.2,5.1,77.4,...,0,0,0,0,0,0,0,1,0.0,0.0
1,81,0,2020-01-23,3,23,59.6850,38928.346,10.2,5.1,77.4,...,0,0,0,0,0,0,0,1,0.0,0.0
2,81,0,2020-01-24,4,24,59.6850,38928.346,10.2,5.1,77.4,...,0,0,0,0,0,0,0,1,0.0,0.0
3,81,0,2020-01-25,5,25,59.6850,38928.346,10.2,5.1,77.4,...,0,0,0,0,0,0,0,1,0.0,0.0
4,81,0,2020-01-26,6,26,59.6850,38928.346,10.2,5.1,77.4,...,0,0,0,0,0,0,0,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22639,81,179,2020-03-31,1,91,38.0362,14862.924,9.4,46.5,21.2,...,0,0,0,0,0,0,0,1,8.0,1.0
22640,81,179,2020-04-01,2,92,38.0362,14862.924,9.4,46.5,21.2,...,0,0,0,0,0,0,0,1,8.0,1.0
22641,81,179,2020-04-02,3,93,38.0362,14862.924,9.4,46.5,21.2,...,0,0,0,0,0,0,0,1,9.0,1.0
22642,81,179,2020-04-03,4,94,38.0362,14862.924,9.4,46.5,21.2,...,0,0,0,0,0,0,0,1,9.0,1.0
22643,81,179,2020-04-04,5,95,38.0362,14862.924,9.4,46.5,21.2,...,0,0,0,0,0,0,0,1,9.0,1.0

In [10]:
ind = np.argsort(df['Date'])
df = df.iloc[ind]
df = df.drop('Date', axis=1)

In [12]:

df.to_feather('data/clean_train')

ValueError: feather does not support serializing a non-default index for the index; you can .reset_index() to make the index into column(s)